* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #f5faf8;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5faf8;
}

.main-container {
  width: 100%;
}
